@import url("dialog.css");

#titleLabel {
    -fx-font-size: 17px;
}

#seeDetailsToggleButton {
    -fx-graphic: url('../icons/double-arrow-down.png');
    -fx-background-color: transparent;
}

#seeDetailsToggleButton:selected {
    -fx-graphic: url('../icons/double-arrow-up.png');
    -fx-background-color: transparent;
}

.hyperlink {
    -fx-text-fill: #ee2d22;
    -fx-font-family: "Avenir", sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.hyperlink:hover {
    -fx-text-fill: rgb(99, 255, 109);
}