/bin/
/target/
/build/
/deploy/
/_site/
/Musicott-out-resources/
.metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*~
.project
.classpath
.settings/
Musicott-main-log.txt
.idea
*.iml
build.fxbuild
/resources/config/config.properties
