@import url("base.css");

#rootSplitPane {
    -fx-background-color: rgb(34, 34, 34);
    -fx-text-fill: rgb(182, 182, 182);
}

#rootSplitPane > .split-pane-divider {
    -fx-background-color: rgb(73, 73, 73);
    -fx-pref-width: 2px;
}