.root,
.menu-bar,
.dialog-pane,
.tree-view,
.list-view,
.context-menu {
    -fx-focus-color: rgb(73, 73, 73);
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent, transparent, transparent, rgb(34, 34, 34);
    -fx-background-radius: 0, 0, 0, 0;
    -fx-accent: rgb(99, 255, 109);
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.menu:hover {
    -fx-background-color: rgb(73, 73, 73);
}

.label, .check-box {
    -fx-text-fill: white;
    -fx-font-family: "Avenir", sans-serif;
}

.text-field {
    -fx-padding: 200%;
    -fx-label-padding: 200%;
    -fx-highlight-text-fill: black;
}

.text-field, .text-area {
    -fx-focus-color: rgb(73, 73, 73);
    -fx-border-radius: 5, 5, 5, 5;
    -fx-border-style: solid;
    -fx-border-color: rgb(182, 182, 182);
}

.text-field:focused, .text-area:focused {
    -fx-border-color: transparent;
}

.text-area .scroll-pane .scroll-bar,
.text-area .scroll-pane .scroll-bar {
    -fx-opacity: 0;
}

.progress-bar .bar {
    -fx-background-color: rgb(99, 255, 109);
    -fx-background-insets: 1 1 2 1;
    -fx-background-radius: 10;
}

.progress-bar .track {
    -fx-background-color: rgb(73, 73, 73);
    -fx-background-insets: 1 1 2 1;
    -fx-background-radius: 10;
}

.check-box:selected .mark {
    -fx-background-color: rgb(99, 255, 109);
}

.check-box .box {
    -fx-background-color: rgb(73, 73, 73);
    -fx-border-color: rgb(34, 34, 34);
    -fx-border-insets: 0 0 -1 0;
    -fx-border-radius: 2;
}

#tableInfoHBox {
    -fx-border-color: rgb(73, 73, 73);
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-insets: -2 0 0 0;
}

.random-button {
    -fx-graphic: url('../icons/random-icon.png');
    -fx-background-color: transparent;
}

.random-button:pressed {
    -fx-effect: dropshadow(gaussian, rgb(201, 201, 201), 15, 0.3, 0, 0);
}