@import url("base.css");
@import url("scrollbar.css");

#navigationModeListView .list-cell:tracks {
	-fx-graphic: url('../icons/menusongs-white-icon.png');
}

#navigationModeListView .list-cell:tracks-selected {
	-fx-graphic: url('../icons/menusongs-black-icon.png');
}

#navigationModeListView .list-cell:artists {
	-fx-graphic: url('../icons/menuartist-white-icon.png');
}

#navigationModeListView .list-cell:artists-selected {
	-fx-graphic: url('../icons/menuartist-black-icon.png');
}

#navigationPaneVBox {
	-fx-border-color: rgb(73, 73, 73);
	-fx-border-width: 2px;
	-fx-border-insets: -2 0 0 -2;
}

#newPlaylistButton {
	-fx-graphic: url('../icons/newplaylist-button.png');
	-fx-background-color: transparent;
}

#taskProgressBar .track {
	-fx-background-color: rgb(34, 34, 34);
}

.tree-cell, .list-cell, #navigationPaneVBox {
	-fx-background-color: rgb(34, 34, 34);
	-fx-text-fill: rgb(182, 182, 182);
}

.tree-cell:playlist {
	-fx-graphic: url('../icons/playlist-white-icon.png');
}

.tree-cell:playlist-selected {
	-fx-graphic: url('../icons/playlist-black-icon.png');
}

.tree-cell:folder {
	-fx-graphic: url('../icons/playlist-folder-white-icon.png');
}

.tree-cell:folder-selected {
	-fx-graphic: url('../icons/playlist-folder-black-icon.png');
}

.tree-cell:playlist-selected, .tree-cell:folder-selected,
.list-cell:selected, .tree-cell:selected{
	-fx-background-color: rgb(99,255,109);
	-fx-text-fill: black;
}

.tree-cell:empty, #navigationModeListView .list-cell:empty {
	-fx-graphic: none;
}

#playlistsLabel, #libraryLabel {
	-fx-font-size: 12px;
}