@import url("base.css");

#playerGridPane {
	-fx-focus-color: rgb(73, 73, 73);
	-fx-faint-focus-color: transparent;
	-fx-background-color: transparent, transparent, transparent, rgb(34, 34, 34);
	-fx-background-radius: 0, 0, 0, 0;
	-fx-accent: rgb(99,255,109);
}

#playButton {
	-fx-graphic: url('../icons/play-button-icon.png');
	-fx-background-color: transparent;
}

#playButton:disabled {
	-fx-graphic: url('../icons/play-button-disabled-icon.png');
	-fx-background-color: transparent;
}

#playButton:selected {	
	-fx-graphic: url('../icons/pause-button-icon.png');
	-fx-background-color: transparent;
}

#prevButton {
	-fx-graphic: url('../icons/prev-button-icon.png');
	-fx-background-color: transparent;
}

#prevButton:disabled {
	-fx-graphic: url('../icons/prev-button-disabled-icon.png');
	-fx-background-color: transparent;
}

#nextButton {
	-fx-graphic: url('../icons/next-button-icon.png');
	-fx-background-color: transparent;
}

#nextButton:disabled {
	-fx-graphic: url('../icons/next-button-disabled-icon.png');
	-fx-background-color: transparent;
}

#playQueueButton {
	-fx-graphic: url('../icons/playqueue-button-white-icon.png');
	-fx-background-color: transparent;
}

#playQueueButton:selected {
	-fx-graphic: url('../icons/playqueue-button-green-icon.png');
	-fx-effect: dropshadow(gaussian, rgb(201, 201, 201), 15, 0.3, 0, 0);
}

#trackSlider .track {
    -fx-background-color: null;
	-fx-background-insets: 0 0 0 0;
}

#trackSlider .thumb {
	-fx-background-color: null;
	-fx-background-image: url('../icons/sliderthumb-icon.png');
 	-fx-background-repeat:no-repeat ;
}

#trackProgressBar .bar {
	-fx-background-color: rgb(99,255,109);
	-fx-background-insets: 0 0 1 0;
	-fx-background-radius: null;
}

#trackProgressBar .track {
	-fx-control-inner-background: null;
	-fx-background-radius: null;
}

#volumeSlider .track {
    -fx-background-color: null;
}

#volumeProgressBar .bar {
	-fx-background-color: rgb(99,255,109);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 0;
}

#volumeProgressBar .track {
	-fx-control-inner-background: rgb(73, 73, 73);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 0;
}