/*
 * This file is part of Musicott software.
 *
 * Musicott software is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Musicott library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Musicott library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.root, .list-view {
    -fx-focus-color: rgb(73, 73, 73);
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent, transparent, transparent, -fx-body-color;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-accent: black;
}

#playQueuePane {
	-fx-background-image: url('../images/playqueue-background-image.png');
	-fx-background-color: transparent;
 	-fx-effect: dropshadow(gaussian, rgb(182,182,182), 10, 0, 0, 0); 
}

#listView {
	-fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.list-cell {
	-fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: black;
}

.list-cell:filled:selected .text{
    -fx-fill: white !important;
}

/* Scroll bars hided */
#listView .scroll-bar .decrement-button,
#listView .scroll-bar .increment-button,
#listView .scroll-bar .increment-arrow,
#listView .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

#deleteButton-black {
	-fx-graphic: url('../icons/remove-button-black-icon.png');
	-fx-background-insets: 1 1 1 1;
	-fx-background-color: transparent;
}

#deleteButton-white {
	-fx-graphic: url('../icons/remove-button-white-icon.png');
	-fx-background-insets: 1 1 1 1;
	-fx-background-color: transparent;
}

#nameLabel {
	-fx-font-size: 12px;
}

#artistAlbumLabel{
	-fx-text-fill: #000000be;
	-fx-font-size: 10px;
}

#historyQueueButton {
	-fx-graphic: url('../icons/historyqueue-button-icon.png');
	-fx-background-color: transparent;
}

#historyQueueButton:selected{
	-fx-graphic: url('../icons/historyqueue-button-selected-icon.png');
 	-fx-effect: dropshadow(gaussian, rgb(73, 73, 73), 15, 0.3, 0, 0);
}

#coverImage {
	-fx-image: url('../images/default-cover-image-queue.png');
	-fx-background-insets: 0 0 0 0;
}