	/*
 * This file is part of Musicott software.
 *
 * Musicott software is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Musicott library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Musicott library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.toggle-button#playButton {
	-fx-graphic: url('../icons/play-button-icon.png');
	-fx-background-color: transparent;
}

.toggle-button:selected#playButton {	
	-fx-graphic: url('../icons/pause-button-icon.png');
	-fx-background-color: transparent;
}

#prevButton {
	-fx-graphic: url('../icons/prev-button-icon.png');
	-fx-background-color: transparent;
}

#nextButton {
	-fx-graphic: url('../icons/next-button-icon.png');
	-fx-background-color: transparent;
}

.toggle-button#playQueueButton {
	-fx-graphic: url('../icons/playqueue-button-icon.png');
	-fx-background-color: transparent;
}

.toggle-button:selected#playQueueButton {
	-fx-graphic: url('../icons/playqueue-button-icon-green.png');
	-fx-background-color: transparent;
}

#trackSlider .track {
    -fx-background-color:null;
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 2;	
}

#volumeSlider .track {
    -fx-background-color:null;
}

#volumeProgressBar .bar {
	-fx-background-color: rgb(223,223,223);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 2;	
}

#volumeProgressBar .track {
	-fx-control-inner-background: black;
}

#trackProgressBar .bar {
	-fx-background-color: forestgreen;
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 2;
}

#trackProgressBar .track {
	-fx-control-inner-background: black;
}