@import url("tracktable.css");

.no-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view {
    -fx-border-width: 0 0 0 0;
}

.table-row-cell:filled .table-cell {
    -fx-border-color: rgb(73, 73, 73);
}

.table-row-cell:filled .table-cell {
    -fx-border-width: 1 0 0 0;
}