@import url("scroll-bar-general.css");

.root,
.table-view,
.table-view .column-header-background,
.table-view .column-header {
    -fx-background-color: rgb(34, 34, 34);
    -fx-font-family: "Avenir", sans-serif;
}

.table-view {
    -fx-border-color: rgb(73, 73, 73);
    -fx-border-width: 2px;
    -fx-border-insets: -2 -2 0 -2;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-background-color: rgb(34, 34, 34);
}

.table-row-cell:selected,
.table-row-cell:odd:selected {
    -fx-background-color: rgb(99, 255, 109);
}

.table-row-cell:selected .text,
.table-row-cell:odd:selected .text{
    -fx-fill: black;
}

.table-row-cell, .table-row-cell:odd {
    -fx-background-color: rgb(34, 34, 34);
}

.table-row-cell .text, .table-row-cell:odd .text {
    -fx-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: rgb(73, 73, 73);
}

.table-row-cell:hover .text {
    -fx-fill: white;
}