@import url("scroll-bar-general.css");

.list-view {
	-fx-focus-color: rgb(73, 73, 73);
	-fx-faint-focus-color: transparent;
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
}

.label {
	-fx-text-fill: white;
	-fx-font-family: "Avenir", sans-serif;
}

#deleteAllButton {
	-fx-background-color: rgb(73, 73, 73);
	-fx-text-fill: white;
}

#deleteAllButton:hover {
	-fx-background-color: rgb(201, 201, 201);
	-fx-text-fill: black;
	-fx-padding: 2 2 2 2;
}


#deleteAllButton {
	-fx-padding: 2 2 2 2;
}

#playQueuePane {
	-fx-background-image: url('../images/playqueue-background-image.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(gaussian, rgb(73, 73, 73), 15, 0.3, 0, 0);
}

.list-cell {
	-fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: rgb(73, 73, 73);
}

#deleteButton-white {
	-fx-graphic: url('../icons/remove-button-white-icon.png');
	-fx-background-insets: 1 1 1 1;
	-fx-background-color: transparent;
	-fx-pref-width: 3;
	-fx-pref-height: 3;
}

#nameLabel {
	-fx-font-size: 13px;
}

#artistAlbumLabel{
	-fx-text-fill: rgb(201, 201, 201);
	-fx-font-size: 11px;
}

#historyQueueButton {
	-fx-graphic: url('../icons/historyqueue-button-white-icon.png');
	-fx-background-color: transparent;
}

#historyQueueButton:selected{
	-fx-graphic: url('../icons/historyqueue-button-black-icon.png');
 	-fx-effect: dropshadow(gaussian, rgb(201, 201, 201), 9, 0.4, 0, 0);
}