@import url("dialog.css");
@import url("scroll-bar-general.css");

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(182, 182, 182);
    -fx-font-size: 13px;
    -fx-font-family: "Avenir", sans-serif;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: black;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: rgb(73, 73, 73);
    -fx-text-fill: rgb(99, 255, 109);
}

.list-view {
    -fx-border-color: rgb(182, 182, 182);
}