@import url("scroll-bar-base.css");

/**
    Due to the magic of css, I had to get this file for the style
    of individual parts. Don't try to refactor and merge css stylesheets.
 */

/* The increment and decrement button CSS class of scroll bar */
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button,
.scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

/* The movable item that its dragged with the mouse */
.scroll-pane .scroll-bar:vertical   .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(73, 73, 73);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}