@import url("scroll-bar-base.css");

.scroll-bar {
    -fx-background-color: rgb(34, 34, 34);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

/**
    I don't know why, but removing or deleting this class style,
    or the last comma before the opening bracket here,
    affects the style fo the horizontal scroll bar. DON'T TOUCH !
 */
.scroll-pane.scroll-bar:vertical .decrement-button, {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

/* The increment and decrement button CSS class of scroll bar */

.table-view .scroll-bar:vertical   .increment-button,
.table-view .scroll-bar:vertical   .decrement-button,
.tree-view  .scroll-bar:vertical   .increment-button,
.tree-view  .scroll-bar:vertical   .decrement-button,
.list-view  .scroll-bar:vertical   .increment-button,
.list-view  .scroll-bar:vertical   .decrement-button,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.tree-view  .scroll-bar:horizontal .increment-button,
.tree-view  .scroll-bar:horizontal .decrement-button,
.list-view  .scroll-bar:horizontal .increment-button,
.list-view  .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.tree-view  .scroll-bar:horizontal .increment-button,
.tree-view  .scroll-bar:horizontal .decrement-button,
.list-view  .scroll-bar:horizontal .increment-button,
.list-view  .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:vertical   .increment-arrow,
.table-view .scroll-bar:vertical   .decrement-arrow,
.tree-view  .scroll-bar:vertical   .increment-arrow,
.tree-view  .scroll-bar:vertical   .decrement-arrow,
.list-view  .scroll-bar:vertical   .increment-arrow,
.list-view  .scroll-bar:vertical   .decrement-arrow,
.table-view .scroll-bar:vertical   .increment-arrow,
.table-view .scroll-bar:vertical   .decrement-arrow,
.tree-view  .scroll-bar:vertical   .increment-arrow,
.tree-view  .scroll-bar:vertical   .decrement-arrow,
.list-view  .scroll-bar:vertical   .increment-arrow,
.list-view  .scroll-bar:vertical   .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The scroll bar background */
.table-view  .scroll-bar:horizontal,
.table-view  .scroll-bar:vertical,
.tree-view   .scroll-bar:horizontal,
.tree-view   .scroll-bar:vertical,
.list-view   .scroll-bar:horizontal,
.list-view   .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* The space that is not the thumb and is behind it, track  of the scroll bar  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical   .track,
.tree-view  .scroll-bar:horizontal .track,
.tree-view  .scroll-bar:vertical   .track,
.list-view  .scroll-bar:horizontal .track,
.list-view  .scroll-bar:vertical   .track,
.scroll-pane.scroll-bar:vertical   .track,
.scroll-pane.scroll-bar:vertical   .track {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}